{{- if (eq .chezmoi.os "linux") -}}
#! /usr/bin/env bash
set -ev pipefail

{{- if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") -}}
sudo apt update
sudo apt upgrade -y
sudo apt-get install -y \
              curl wget \
              file \
              git \
              direnv \
              jq \
              vim \
              sshpass \
              net-tools \
              build-essential llvm liblzma-dev tk-dev \
              zlib1g-dev libbz2-dev libxmlsec1-dev xz-utils \
              libreadline-dev libsqlite3-dev libxml2-dev \
              software-properties-common libncurses5-dev \
              zsh \
              tmux

{{- end -}}
{{- if (eq .chezmoi.osRelease.id "rhel") -}}
sudo yum update
sudo yum upgrade -y
sudo yum install -y \
              curl \
              file \
              git \
              jq \
              vim
{{- end -}}
{{- if (eq .chezmoi.osRelease.id "fedora") -}}
sudo dnf update
sudo dnf upgrade -y
sudo dnf install -y \
              curl \
              file \
              git \
              jq \
              vim \
              libxcrypt-compat \
              zsh \
              python \
              gcc \
              tmux \
              make \
              zlib-devel \
              bzip2 \
              bzip2-devel \
              readline-devel \
              sqlite \
              sqlite-devel \
              openssl-devel \
              tk-devel \
              xz \
              g++ \
              patch \
              bison \
              libffi-devel \
              dnf-automatic \
              cronie \
              cronie-anacron
              
# TODO - Modify `apply_updates = yes` in /etc/dnf/automatic.conf
## And `systemctl enable --now dnf-automatic.timer`

{{- end -}}
{{- end -}}
