{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") -}}
#! /usr/bin/env bash

set -ev pipefail

# Install Homebrew
which -a brew || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

# Ensure brew has been installed in its default place
export PATH=/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin:${PATH}

# Add 3rd party brew taps
brew tap instrumenta/instrumenta

brew update && brew install kubernetes-cli \
                            kops \
                            helm \
                            k9s \
                            borgbackup \
                            sops \
                            hub \
                            git-crypt \
                            yq \
                            fzf \
                            gomplate \
                            kustomize \
                            kubeseal \
                            kubeval \
                            shellcheck \
                            fluxcd/tap/flux \
                            iperf3 \
                            go-task/tap/go-task \
                            figlet \
                            lolcat \
                            dty1er/tap/kubecolor \
                            docker-credential-helper-ecr || echo "Catching some errors"
brew upgrade

#  Download fzf binary and update configuration files non interactively
$(brew --prefix)/opt/fzf/install --all
{{- end -}}
