{{- if (eq .chezmoi.os "linux") -}}
#! /usr/bin/env bash

set -ev pipefail
# Run autoinstalling OMZ script
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh) --unattended" ||

# Change default sh to ZSH
if [[ $(awk -F ":${HOME}:" 'NF>1 {print $2}' /etc/passwd) != $(which zsh) ]]; then
  sudo chsh -s $(which zsh)
fi

# Update Chezmoi completions
chezmoi completion zsh --output ${HOME}/.oh-my-zsh-custom/plugins/chezmoi/_chezmoi
{{- end -}}
