{{- if (eq .chezmoi.os "linux") -}}
#! /usr/bin/env bash

set -ev pipefail

SYSTEM_PYTHON_VERSION=3.8.6
# Install

if [[ $(pyenv version | awk '{print $1}') != $SYSTEM_PYTHON_VERSION ]]; then
  pyenv install ${SYSTEM_PYTHON_VERSION}
  echo "${SYSTEM_PYTHON_VERSION}" > ${HOME}/.pyenv/version
fi
{{- end -}}
