# The following variables are only available within this file

{{ $personalName := "Marcos Soutullo" -}}
{{- $personalEmail := "marcossoutullo@gmail.com" -}}

{{- $workName := "Marcos Soutullo Rodriguez" -}}
{{- $workEmail := "marcos.soutullo@vodafone.com" -}}

{{- $isWork := or (contains "vodafone" (lower .chezmoi.fullHostname)) (contains "vf" (lower .chezmoi.fullHostname)) (contains "msr" (lower .chezmoi.fullHostname)) -}}
{{- $isPersonal := not $isWork -}}

{{- $isWsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}
{{- $isFedora := lookPath "gnome-shell" | not | not -}}

sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  # Here we "export" the variables, so we can access them outside this file

  personal_name = "{{ $personalName }}"
  personal_email = "{{ $personalEmail }}"

  work_name = "{{ $workName }}"
  work_email = "{{ $workEmail }}"

  is_personal = {{ $isPersonal }}
  is_work = {{ $isWork }}
  is_wsl = {{ $isWsl }}

  {{- if $isPersonal }}
  name = "{{ $personalName }}"
  email = "{{ $personalEmail }}"
  signing_key = "F31B8FF845AFAFDF"

  {{- else }}
  name = "{{ $workName }}"
  email = "{{ $workEmail }}"
  signing_key = "473E049DD4211D4E"
  {{- end }}

  {{- if or (lookPath "code") }}
  editor = "code --wait"
  {{- else if lookPath "nano" }}
  editor = "vim"
  {{- else if lookPath "vim" }}
  editor = "nano"
  {{- else }}
  editor = "vi"
  {{- end }}

[sourceVCS]
  autoCommit = true

[template]
  options = ["missingkey=zero"]