{{- if (eq .chezmoi.os "linux") -}}
#! /bin/zsh

source {{ .chezmoi.sourceDir }}/.helpers.zsh

# Ensure we use the latest Terragrunt and Terraform by default

echo -e "latest" > ${HOME}/.terraform-version
echo -e "latest" > ${HOME}/.terragrunt-version


{{- if (eq .chezmoi.osRelease.id "fedora") -}}
  curl "https://s3.amazonaws.com/session-manager-downloads/plugin/latest/linux_64bit/session-manager-plugin.rpm" -o "session-manager-plugin.rpm"
  sudo yum install -y session-manager-plugin.rpm
  rm -rf session-manager-plugin.rpm
{{- end -}}
{{- end -}}
