{{- if (eq .chezmoi.os "linux") -}}
#! /usr/bin/env bash

set -ev pipefail 
{{- if (eq .chezmoi.osRelease.idLike "debian") -}}sudo apt install -y zsh{{- end -}}

sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh) --unattended"

{{- end -}}
