{{- if (eq .chezmoi.os "linux") -}}
#! /usr/bin/env bash
set -ev pipefail

{{- if (eq .chezmoi.osRelease.idLike "debian") -}}
sudo apt update
sudo apt upgrade -y
sudo apt-get install -y \
              curl \
              file \
              git \
              direnv \
              jq \
              vim \
              build-essential \
              software-properties-common \
              zsh
{{- end -}}
{{- end -}}
