{{- if (eq .chezmoi.os "linux") -}}
#! /usr/bin/env bash
set -ev pipefail

{{- if (eq .chezmoi.osRelease.idLike "debian") -}}
sudo apt update
sudo apt upgrade -y
sudo apt-get install -y \
              curl \
              file \
              git \
              direnv \
              jq \
              vim \
              build-essential \
              software-properties-common \
              zsh \
              tmux
{{- end -}}
{{- if (eq .chezmoi.osRelease.id "rhel") -}}
sudo dnf update
sudo dnf upgrade -y
sudo dnf install -y \
              curl \
              file \
              git \
              jq \
              vim
{{- end -}}
{{- if (eq .chezmoi.osRelease.id "fedora") -}}
sudo dnf update
sudo dnf upgrade -y
sudo dnf install -y \
              curl \
              file \
              git \
              jq \
              vim \
              libxcrypt-compat \
              zsh
{{- end -}}
{{- end -}}
