{{- if (eq .chezmoi.os "linux") -}}
#! /usr/bin/env bash

{{- if (eq .chezmoi.osRelease.idLike "debian") -}}
  apt-get install zsh -y
  sudo chsh -s /bin/zsh $USER
{{- end -}}

sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh) --unattended"

{{- end -}}
