{{- if (eq .chezmoi.os "linux") -}}
#! /usr/bin/env bash

set -ev pipefail 

# Install Homebrew
which -a brew || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

# Ensure brew has been installed in its default place
export PATH=${HOME}/linuxbrew/.linuxbrew/bin:${PATH}
brew update
brew install pyenv \
             poetry
{{- end -}}
