# The following variables are only available within this TOML template file

{{ $personalName := "Marcos Soutullo Rodriguez" -}}
{{- $personalEmail := "marcos.soutullo91@gmail.com" -}}
{{- $personalSigningKey := "C67A779BDEF89362!" -}}
{{- $workLaptop := "marcos-soutullo-laptop-1" -}}

{{- $isWsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}
{{- $isFedora := lookPath "gnome-shell" | not | not -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $isRoot := eq $workLaptop .chezmoi.hostname | not -}}

sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  # Here we "export" the variables, so we can access them outside this file
  osid = {{ $osid | quote }}

  personal_name = "{{ $personalName }}"
  personal_email = "{{ $personalEmail }}"

  is_root = {{ $isRoot }} # Whether or not to install stuff as root

  name = "{{ $personalName }}"
  email = "{{ $personalEmail }}"

  {{- if $isRoot | not -}}
  signing_key = "{{ $personalSigningKey }}"
  {{- end }}

  {{- if or (lookPath "code") }}
  editor = "code --wait --diff $LOCAL $REMOTE"
  {{- else if lookPath "vim" }}
  editor = "vim"
  {{- else if lookPath "nano" }}
  editor = "nano"
  {{- else }}
  editor = "vi"
  {{- end }}

  locale = "en_GB.UTF-8"
  # renovate: datasource=github-tags packageName=python/cpython
  python_version 3.11.4



[sourceVCS]
  autoCommit = true

[template]
  options = ["missingkey=zero"]

[onepassword]
  prompt = true

[edit]
  command = "code"
  args = ["--wait"]
