# The following variables are only available within this TOML template file

{{ $personalName := "Marcos Soutullo Rodriguez" -}}
{{- $personalEmail := "marcos.soutullo91@gmail.com" -}}
{{- $personalSigningKey := "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHJQ/v90Djih+2baccSLZnFPhP9FHpIoNzqDPsJhLgCs" -}}
{{- $workLaptop := "marcos-soutullo-laptop" -}}

{{- $isWsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}
{{- $isFedora := lookPath "gnome-shell" | not | not -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $isRoot := contains $workLaptop .chezmoi.hostname | not -}}
{{- $isWork := contains $workLaptop .chezmoi.hostname -}}

sourceDir = "{{ .chezmoi.sourceDir }}"
progress = true

[data]
  # Here we "export" the variables, so we can access them outside this file
  osid = {{ $osid | quote }}

  personal_name = "{{ $personalName }}"
  personal_email = "{{ $personalEmail }}"

  is_root = {{ $isRoot }} # Whether or not to install stuff as root (e.g. brew)
  is_work = {{ $isWork }} # Whether or not this is my work laptop

  name = "{{ $personalName }}"
  {{- if not $isWork }}
  email = "{{ $personalEmail }}"
  {{- end }}

  signing_key = "{{ $personalSigningKey }}"
  signing_format = "ssh" # https://developer.1password.com/docs/ssh/git-commit-signing#advanced-configuration
  {{- if eq .chezmoi.os "darwin" -}}
  signing_ssh_program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  {{- else if eq .chezmoi.os "linux" -}}
  signing_ssh_program = "/opt/1Password/op-ssh-sign"
  {{- end -}}

  {{- if or (lookPath "code") }}
  editor = "code --wait --diff $LOCAL $REMOTE"
  {{- else if lookPath "vim" }}
  editor = "vim"
  {{- else if lookPath "nano" }}
  editor = "nano"
  {{- else }}
  editor = "vi"
  {{- end }}

  locale = "en_GB.UTF-8"
  uname_arch = "{{ output "uname" "-m" | trim }}"

[sourceVCS]
  autoCommit = true

[template]
  options = ["missingkey=zero"]

[onepassword]
  prompt = true

[edit]
  command = "code"
  args = ["--wait"]

[warnings]
  configFileTemplateHasChanged = false
