[init]
  defaultBranch = main

[user]
  name = {{ .name }}
  email = {{ .email }}
  signingKey = {{ .signing_key }}

[credential]
  helper = store

[alias]
  plog = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  vfc = verify-commit
  st = status
  squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} -m \"${1:-A new start}\");};f"

[diff]
  ignoreSubmodules = dirty
  guitool = vscode

 [difftool "vscode"]
   cmd = code --wait --diff $LOCAL $REMOTE

[push]
  default=simple
  followTags=true

[pull]
  rebase = true

[commit]
  gpgsign = true

[gpg]
  program = gpg

[core]
  pager = cat
