# renovate: datasource=github-releases
kubectl 1.23.7
# renovate: datasource=github-releases
helm 3.9.2
# TODO: Move away from pyenv and stick with `ASDF` FTW
# python {{ .python_version }}
# renovate: datasource=github-releases
terragrunt 0.38.8
# renovate: datasource=github-releases
terraform 1.2.6
# renovate: datasource=github-releases
pluto 5.10.3
