# renovate: datasource=github-tags packageName=kubernetes/kubernetes
kubectl 1.23.7
# renovate: datasource=github-tags packageName=helm/helm registryUrl=https://github.com
helm 3.9.2
# TODO: Move away from pyenv and stick with `ASDF` FTW
# python {{ .python_version }}
# renovate: datasource=github-releases packageName=gruntwork-io/terragrunt extractVersion=v(?<version>.+)
terragrunt 0.38.7
# renovate: datasource=github-releases packageName=hashicorp/terraform
terraform 1.2.6
# renovate: datasource=github-releases packageName=FairwindsOps/pluto
pluto 5.10.3

# TODO: Move away from pyenv and stick with `ASDF` FTW
# python {{ .python_version }}