{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#! /usr/bin/env bash

set -ev pipefail

# 1. Change default sh to ZSH
{{ if .is_root -}}
if [[ $(awk -F ":${HOME}:" 'NF>1 {print $2}' /etc/passwd) != $(which zsh) ]]; then
  sudo chsh -s $(which zsh) $(whoami)
fi

{{- end -}}
{{- end -}}
