{{- if or (eq .chezmoi.os "linux") ( eq .chezmoi.os "darwin") -}}
#! /usr/bin/env zsh

source {{ .chezmoi.sourceDir }}/scripts/.helpers

go install \
  github.com/mbrt/gmailctl/cmd/gmailctl@313754ab934f7930461d60100300a63581cdcc46

{{- end -}}
