{{- $dest_folder := joinPath .chezmoi.homeDir ".config" "wireshark_profiles" -}}

{{- if (eq .chezmoi.os "linux") -}}
#! /usr/bin/env bash

set -ev pipefail

{{ if stat ( joinPath $dest_folder ".git" "HEAD" ) -}}
{{- $git_head := regexReplaceAll "^ref: *" ( include ( joinPath $dest_folder ".git" "HEAD" ) ) "" -}}
{{- $git_head := regexReplaceAll "\\s*$" $git_head "" -}}
# Current git HEAD of {{.pack_path}} is {{$git_head}}
{{ if stat ( joinPath $dest_folder ".git" $git_head ) -}}
# Resolves into : {{ include ( joinPath $dest_folder ".git" $git_head ) }}
{{ end -}}
{{- end -}}

# Create the profiles directory if it doesn't exist
mkdir -p ${HOME}/.config/wireshark/profiles

# Unzip all the zip files in the profiles directory
for zip_file in ~/.config/wireshark_profiles/*.zip; do
    echo "Unzipping $zip_file"
    # silent
    unzip -q -o -d ${HOME}/.config/wireshark/profiles "$zip_file" > /dev/null
done

{{- end -}}

