{{- if or (eq .chezmoi.os "linux") ( eq .chezmoi.os "darwin") -}}
#! /usr/bin/env zsh

source {{ .chezmoi.sourceDir }}/scripts/.helpers

${HOME}/.asdf/shims/go install \
  github.com/mbrt/gmailctl/cmd/gmailctl@69c24b795402ff895cc90262b3cbdebd501c8b53

{{- end -}}
