{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#! /usr/bin/env bash

set -e pipefail

source {{ .chezmoi.sourceDir }}/scripts/.helpers

ASDF="${HOME}/.asdf/bin/asdf"
if [ ! -f "${ASDF}" ]; then
  echo "asdf is not yet installed"
  exit 0
fi

PATH_old="${PATH}"
export PATH="${HOME}/.asdf/bin:${HOME}/.asdf/shims:${PATH}"

{{ if .is_root -}}
export PATH="/home/linuxbrew/.linuxbrew/bin:${PATH}"
{{ end -}}

started "Update all ASDF plugins..."
${ASDF} plugin update --all
success "All ASDF plugins updated."
started "Install all default ASDF tool versions..."
${ASDF} install
success "All ASDF apps installed."

export PATH="${PATH_old}"

{{- end -}}
