{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env zsh

set -ev pipefail

# 5. Update and upgrade brew packages
ASDF="${HOME}/.asdf/bin/asdf"
PATH_old="${PATH}"

# FIXME(WA): This is a hack to make sure that `asdf` and `brew` is in the path
export PATH="${HOME}/.asdf/bin:${HOME}/.asdf/shims:$(brew --prefix)/bin:${PATH}"

{{ if .is_root -}}
brew update && brew upgrade
{{ end -}}

# 6. Update all ASDF plugins
${ASDF} plugin update --all

# 7. Install/update all ASDF package versions using libraries installed by brew
## Make sure LDF, CPPF and OPTS are set for openssl on Linux with dependencies installed by brew

{{- if or (eq .chezmoi.os "darwin") (not .is_root) }}
  ${ASDF} install
{{ else }}
 CC=/home/linuxbrew/.linuxbrew/bin/gcc-13 \
 CPPFLAGS="-I$(brew --prefix)/include" \
 LDFLAGS="-L$(brew --prefix)/lib" \
 ${ASDF} install
{{ end -}}

export PATH="${PATH_old}"
{{ end -}}
