
{{- if (eq .chezmoi.os "darwin") -}}
#! /usr/bin/env bash
set -ev pipefail

# 1. Install Homebrew
which -a brew || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
brew="/opt/homebrew/bin/brew"
$brew --version

# 2. Add brew tap(s)
$brew tap fluxcd/tap
$brew tap go-task/tap
$brew tap dty1er/tap

# 3. Install Homebrew packages
## `brew bundle dump` to generate Brewfile
$brew bundle --file=/dev/stdin <<EOF
    tap "1password/tap"
    tap "aquasecurity/trivy"
    tap "common-fate/granted"
    tap "dty1er/tap"
    tap "fluxcd/tap"
    tap "gabrie30/utils"
    tap "go-task/tap"
    tap "helm/tap"
    tap "instrumenta/instrumenta"
    tap "minamijoyo/hcledit"
    tap "minio/stable"
    brew "openssl@3"
    brew "readline"
    brew "reattach-to-user-namespace"
    brew "asdf"
    brew "xz"
    brew "awscli"
    brew "cargo-instruments"
    brew "chezmoi"
    brew "direnv"
    brew "figlet"
    brew "fzf"
    brew "gh"
    brew "git"
    brew "glab"
    brew "pinentry"
    brew "gnupg"
    brew "go"
    brew "gomplate"
    brew "goreleaser"
    brew "grep"
    brew "htop"
    brew "hub"
    brew "hyperfine"
    brew "iperf3"
    brew "jq"
    brew "k9s"
    brew "kubeseal"
    brew "kubeval"
    brew "kustomize"
    brew "librsvg"
    brew "qemu"
    brew "lima"
    brew "llvm"
    brew "lolcat"
    brew "make"
    brew "minikube"
    brew "mockery"
    brew "pinentry-mac"
    brew "podman"
    brew "sevenzip"
    brew "shellcheck"
    brew "smartmontools"
    brew "sops"
    brew "telnet"
    brew "terraform-docs"
    brew "tflint"
    brew "tmux"
    brew "tree"
    brew "watch"
    brew "wget"
    brew "wireshark"
    brew "yq"
    brew "zlib"
    brew "zsh-syntax-highlighting"
    brew "common-fate/granted/granted"
    brew "go-task/tap/go-task"
    cask "1password-cli"
    cask "authy"
    cask "dbeaver-community"
    cask "hyper"
    cask "iterm2"
    cask "multipass"
    cask "notion"
    cask "session-manager-plugin"
    cask "slack"
    cask "spotify"
    cask "unnaturalscrollwheels"
    cask "visual-studio-code"
EOF

# 4. Upgrade already-installed brew packages
$brew update && $brew upgrade

# 5. Download fzf binary and update configuration files non interactively
/opt/homebrew/opt/fzf/install --all
{{- end -}}
