{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#! /bin/zsh

set -ev pipefail

source {{ .chezmoi.sourceDir }}/scripts/.helpers
ASDF="${HOME}/.local/bin/asdf"


# This function will take two arguments to install ASDF plugins; 1) the plugin name 2) its optional URL location.
# If the plugin is already installed, it will skip the installation.
function asdf_plugin_install() {
  local plugin_name=$1
  local plugin_url=$2

  ${ASDF} plugin add $plugin_name ${plugin_url} || if [[ $? -eq 2 ]]; then
    log_echo "$plugin_name plugin already installed!"
  fi
}

asdf_plugin_install "terragrunt"
asdf_plugin_install "kubectl"
asdf_plugin_install "packer"
asdf_plugin_install "terraform" "https://github.com/asdf-community/asdf-hashicorp.git"
asdf_plugin_install "helm" "https://github.com/Antiarchitect/asdf-helm.git"
asdf_plugin_install "nodejs" "https://github.com/asdf-vm/asdf-nodejs.git"
asdf_plugin_install "golang" https://github.com/asdf-community/asdf-golang.git
asdf_plugin_install "poetry" https://github.com/asdf-community/asdf-poetry.git
{{- end -}}
