{{- if and (eq .chezmoi.os "linux") -}}
#! /usr/bin/env zsh

set -ev pipefail

source {{ .chezmoi.sourceDir }}/scripts/.helpers

PATH_old="${PATH}"
export PATH="${HOME}/.asdf/bin:${HOME}/.asdf/shims:/home/linuxbrew/.linuxbrew/sbin:/home/linuxbrew/.linuxbrew/bin:${PATH}"

# 1. Update `chezmoi` ZSH completions
chezmoi completion zsh --output="$(chezmoi source-path)/dot_oh-my-zsh-custom/plugins/chezmoi/_chezmoi" || error "Failed to update chezmoi ZSH completions"

{{- if or (lookPath "flux") }}
# 2. Update `flux` ZSH completions
flux completion zsh > $(chezmoi source-path)/dot_oh-my-zsh-custom/plugins/flux/_flux || error "Failed to update flux ZSH completions"
{{- end }}

{{- if or (lookPath "kustomize") }}
{{- end }}

{{- if or (lookPath "kustomize") }}
# 3. Update kustomize ZSH completions
kustomize completion zsh > $(chezmoi source-path)/dot_oh-my-zsh-custom/plugins/kustomize/_kustomize || error "Failed to update kustomize ZSH completions"

{{- end }}

export PATH="${PATH_old}"

{{- end -}}
