
{{- if (eq .chezmoi.os "darwin") -}}
#! /usr/bin/env bash
set -ev -o pipefail

# 1. Install Homebrew
which -a brew || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
brew="/opt/homebrew/bin/brew"
$brew --version

# 2. Install Homebrew packages
## `brew bundle dump` to generate Brewfile
$brew bundle --file=/dev/stdin <<EOF
    tap "1password/tap"
    tap "aquasecurity/trivy"
    tap "common-fate/granted"
    tap "dty1er/tap"
    tap "gabrie30/utils"
    tap "go-task/tap"
    tap "helm/tap"
    tap "instrumenta/instrumenta"
    tap "librespeed/tap"
    brew "xz"
    brew "asdf"
    brew "openssl@3"
    brew "readline"
    brew "awscli"
    brew "bash"
    brew "bzip2"
    brew "cargo-instruments"
    brew "chezmoi"
    brew "cloc"
    brew "coreutils"
    brew "curl"
    brew "direnv"
    brew "dnscrypt-proxy", restart_service: :changed
    brew "dnsmasq", restart_service: :changed
    brew "docker-compose"
    brew "expect"
    brew "figlet"
    brew "findutils"
    brew "fio"
    brew "flock"
    brew "freerdp"
    brew "fzf"
    brew "gh"
    brew "git"
    brew "git-crypt"
    brew "glab"
    brew "gnu-sed"
    brew "gnu-tar"
    brew "pinentry"
    brew "gnupg"
    brew "gnuplot"
    brew "go"
    brew "gomplate"
    brew "goreleaser"
    brew "librsvg"
    brew "graphviz"
    brew "grep"
    brew "htop"
    brew "hub"
    brew "hyperfine"
    brew "influxdb"
    brew "iperf3"
    brew "iproute2mac"
    brew "jfrog-cli"
    brew "jq"
    brew "k9s"
    brew "krb5"
    brew "libedit"
    brew "libvirt"
    brew "libvncserver"
    brew "lima"
    brew "lolcat"
    brew "make"
    brew "minikube"
    brew "mockery"
    brew "net-snmp"
    brew "nmap"
    brew "node"
    brew "nspr"
    brew "nss"
    brew "openldap"
    brew "openssh"
    brew "ossp-uuid"
    brew "p7zip"
    brew "parallel"
    brew "tree"
    brew "pass"
    brew "pinentry-mac"
    cask "1password"
    cask "1password-cli"
    cask "claude-code"
    cask "codex"
    cask "ghostty"
    cask "visual-studio-code"
EOF

# 4. Upgrade already-installed brew packages
$brew update && $brew upgrade

# 5. Download fzf binary and update configuration files non interactively
/opt/homebrew/opt/fzf/install --all
{{- end -}}
