{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#! /usr/bin/env bash

set -e pipefail

source {{ .chezmoi.sourceDir }}/scripts/.helpers

SYSTEM_PYTHON_VERSION=3.9.11

{{- if (eq .chezmoi.os "linux") }}
pyenv=${HOME}/.pyenv/bin/pyenv
export PATH="${HOME}/.pyenv/shims:${PATH}"
{{- else if eq .chezmoi.os "darwin" }}
pyenv=$(brew --prefix)/bin/pyenv
{{- end }}

# Install if version not met
if [[ $(${pyenv} version | awk '{print $1}') != $SYSTEM_PYTHON_VERSION ]]; then
  ${pyenv} install ${SYSTEM_PYTHON_VERSION}
  ${pyenv} rehash
  pip install --upgrade pip setuptools
  echo "${SYSTEM_PYTHON_VERSION}" > ${HOME}/.pyenv/version
fi

if [ ! -d $(${pyenv} root)/plugins/pyenv-virtualenv ]; then
  git clone https://github.com/pyenv/pyenv-virtualenv.git $(${pyenv} root)/plugins/pyenv-virtualenv
fi

python=$(which python)

set -x
# Install Poetry following its recommended approach - Updated on 05/06/2021
curl -sSL https://install.python-poetry.org | ${python} -

# Install pre-commit tool
if ! is_installed pre-commit; then
  curl https://pre-commit.com/install-local.py | ${python} -
else
  installed_version=$(pre-commit --version | awk '{print $2}')
  latest_version=$(get_latest_github_release pre-commit pre-commit)
  if [[ ${installed_version} != ${latest_version} ]]; then
    curl https://pre-commit.com/install-local.py | ${python} -
  fi
fi

# Install gist https://github.com/jdowner/gist
pip install --upgrade python-gist \
                      pip \
                      setuptools
{{- end -}}