{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#! /usr/bin/env bash

set -e pipefail

source {{ .chezmoi.sourceDir }}/scripts/.helpers

{
  python=$(which python)
} || {
{{ if or (eq .chezmoi.os "darwin") (not .is_root) }}
  ${HOME}/.asdf/bin/asdf install python {{ .python_version }}
{{ else }}
LDFLAGS="-Wl,-rpath,$(brew --prefix openssl)/lib" \
 CPPFLAGS="-I$(brew --prefix openssl)/include" \
 CONFIGURE_OPTS="--with-openssl=$(brew  --prefix openssl)" \
 ${HOME}/.asdf/bin/asdf install python {{ .python_version }}
{{ end }}
}

python="${HOME}/.asdf/shims/python"
pip="${HOME}/.asdf/shims/pip"

# Update Pip and setuptools
${pip} install --upgrade pip setuptools

# Install Poetry
${pip} install --upgrade poetry

# Install pre-commit tool
if ! is_installed pre-commit; then
    ${pip} install pre-commit
else
  installed_version=v$(pre-commit --version | awk '{print $2}')
  latest_version={{ (gitHubLatestRelease "pre-commit/pre-commit").TagName }}
  echo "$installed_version"
  echo "$latest_version"
  if [[ ${installed_version} != ${latest_version} ]]; then
      ${pip} install --upgrade pre-commit
  fi
fi

{{- end -}}
