{{- if (eq .chezmoi.os "linux") -}}
#! /bin/zsh

set -e pipefail
source {{ .chezmoi.sourceDir }}/scripts/.helpers
# 1-Install or update Git repositories for ZSH or others
## powerlevel10k
## ZSH Syntax highlighting
## TMUX custom plugin
## TFENV
## TGENV
## Pyenv
## Kubetail
# 2- Installs a handy SH script to rotate AWS Access Keys

declare -A plugins_map

# powerlevel10k
P10K_PLUGIN_DIR="${HOME}/.oh-my-zsh-custom/themes/powerlevel10k"
P10K_PLUGIN_URL="https://github.com/romkatv/powerlevel10k.git"

plugins_map[$P10K_PLUGIN_DIR]=$P10K_PLUGIN_URL

# OMZ Syntax highlighting
ZSH_PLUGIN_SYNTAX_DIR="${HOME}/.oh-my-zsh-custom/plugins/zsh-syntax-highlighting"
ZSH_PLUGIN_SYNTAX_URL="https://github.com/zsh-users/zsh-syntax-highlighting.git"
plugins_map[$ZSH_PLUGIN_SYNTAX_DIR]=$ZSH_PLUGIN_SYNTAX_URL

# Txmux
TMUX_PLUGIN_DIR="${HOME}/.tmux"
TMUX_PLUGIN_URL="https://github.com/gpakosz/.tmux.git"
plugins_map[$TMUX_PLUGIN_DIR]=$TMUX_PLUGIN_URL

# TGenv
TGENV_DIR="${HOME}/.tgenv"
TGENV_URL="https://github.com/cunymatthieu/tgenv.git"
plugins_map[$TGENV_DIR]=$TGENV_URL

# TFenv
TFENV_DIR="${HOME}/.tfenv"
TFENV_URL="https://github.com/tfutils/tfenv.git"
plugins_map[$TFENV_DIR]=$TFENV_URL

# Pyenv
PYENV_DIR="${HOME}/.pyenv"
PYENV_URL="https://github.com/pyenv/pyenv.git"
plugins_map[$PYENV_DIR]=$PYENV_URL

# Kubetail
KUBETAIL_DIR="${HOME}/.oh-my-zsh-custom/plugins/kubetail"
KUBETAIL_URL="https://github.com/johanhaleby/kubetail.git"
plugins_map[$KUBETAIL_DIR]=$KUBETAIL_URL

for key in "${(@k)plugins_map}"; do
  started "Checking whether $key directory exists..."
  if [ ! -d $key ]; then
    cmd="git clone $plugins_map[$key] ${key}"
    started "Running: ${cmd}"
    eval ${cmd} >/dev/null 2>&1
    success "Git repo $plugins_map[$key] Cloned!"
  else
    cmd="git --git-dir ${key}/.git --work-tree ${key} pull --rebase --force"
    started "Running: $cmd"
    eval $cmd >/dev/null
    success "Git repo $plugins_map[$key] Pulled [--rebase]!"
  fi
done

# Check whether `aws-rotate-iam-keys` is currently installed. If not, install it
if ! is_installed aws-rotate-iam-keys; then
  git clone https://github.com/rhyeal/aws-rotate-iam-keys.git /tmp/aws-rotate-keys
  sudo install /tmp/aws-rotate-keys/src/bin/aws-rotate-iam-keys /usr/local/bin
  rm -rf /tmp/aws-rotate-keys
fi

{{- end -}}
