{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env zsh

set -ev pipefail

# 5. Update and upgrade brew packages

$(brew --prefix)/bin/brew update
$(brew --prefix)/bin/brew upgrade
{{- end -}}