{{- if and (eq .chezmoi.os "linux") -}}
#! /usr/bin/env zsh

set -ev pipefail


# 5. Update and upgrade brew packages

/home/linuxbrew/.linuxbrew/bin/brew update
/home/linuxbrew/.linuxbrew/bin/brew upgrade
{{- end -}}