{{ if .is_root -}}
{{- if (eq .chezmoi.os "linux") -}}
#! /usr/bin/env bash

set -ev pipefail

# 1. Install Homebrew
which -a brew || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
brew="/home/linuxbrew/.linuxbrew/bin/brew"

# 2. Add 3rd party brew taps

$brew --version

# 3. Install Homebrew packages
$brew install kubernetes-cli \
                aws-rotate-key \
                borgbackup \
                chezmoi \
                docker-credential-helper-ecr \
                figlet \
                direnv \
                fluxcd/tap/flux \
                fzf \
                gcc \
                gh \
                git-crypt \
                go \
                go-task/tap/go-task \
                gomplate \
                hub \
                iperf3 \
                k9s \
                kubeseal \
                kustomize \
                shellcheck \
                sops \
                vale \
                yq || echo "Catching some errors"

# 4. Upgrade already-installed brew packages
$brew update && $brew upgrade

# 5. Download fzf binary and update configuration files non interactively
/home/linuxbrew/.linuxbrew/opt/fzf/install --all

{{- end -}}
{{- end -}}
