{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#! /usr/bin/env bash

set -ev pipefail

# Install Homebrew
which -a brew || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

# Ensure brew has been installed in its default place
export PATH=$(brew --prefix)/bin:$(brew --prefix)/sbin:${PATH}


{{- if or (eq .chezmoi.os "linux") }}

# Add 3rd party brew taps
brew tap instrumenta/instrumenta

# Install Homebrew packages
brew update && brew install kubernetes-cli \
                            kops \
                            helm \
                            k9s \
                            borgbackup \
                            sops \
                            hub \
                            git-crypt \
                            yq \
                            fzf \
                            gomplate \
                            kustomize \
                            kubeseal \
                            kubeval \
                            shellcheck \
                            fluxcd/tap/flux \
                            iperf3 \
                            go-task/tap/go-task \
                            figlet \
                            kubetail \
                            lolcat \
                            gh \
                            dty1er/tap/kubecolor \
                            docker-credential-helper-ecr || echo "Catching some errors"
brew upgrade

#  Download fzf binary and update configuration files non interactively
$(brew --prefix)/opt/fzf/install --all
{{- end -}}

{{- if or (eq .chezmoi.os "darwin") }}

# Add brew tap(s)
brew tap fluxcd/tap
brew tap go-task/tap
brew tap dty1er/tap

# Install Homebrew packages
brew bundle --no-lock --file=/dev/stdin <<EOF
  brew "git"
  brew "asdf"
  brew "awscli"
  brew "minikube"
  brew "kubernetes-cli"
  brew "terraform"
  brew "terragrunt"
  brew "helm"
  brew "k9s"
  brew "sops"
  brew "hub"
  brew "pyenv"
  brew "git-crypt"
  brew "tmux"
  brew "zsh-syntax-highlighting"
  brew "yq"
  brew "fzf"
  brew "gomplate"
  brew "kustomize"
  brew "kubeseal"
  brew "kubeval"
  brew "shellcheck"
  brew "fluxcd/tap/flux"
  brew "iperf3"
  brew "go-task/tap/go-task"
  brew "figlet"
  brew "lolcat"
  brew "gh"
  brew "dty1er/tap/kubecolor"
  brew "docker-credential-helper-ecr"
  brew "cargo-instruments"

  cask "google-chrome"
  cask "firefox"
  cask "1password"
  cask "notion"
  cask "iterm2"
  cask "authy"
EOF

{{- end }}

# Upgrade already-installed brew packages
brew update && brew upgrade

#  Download fzf binary and update configuration files non interactively
$(brew --prefix)/opt/fzf/install --all

{{- end -}}
